body {
  display: flex;
  align-items: center;
  font-family: Verdana, sans-serif;
}


ul {
  list-style-type: none;
}

#headlines {
  width: 50%;
}

#article {
  width: 30%;
}

li {
  display: flex;
  align-items: center;
}

.list-img {
  padding: 20px;
  height:100px;
}

img {
  height:100%;
}

.list-text {
  width: 50%;
  padding: 20px;
}
